<p class='comment-body'>
  {{model.body}}{{yield}}
</p>

<span class="delete-indicator">
</span>

{{#if model.updatedAt}}
  <span class="posted-at">
    {{moment-from-now model.updatedAt}}
  </span>
{{/if}}