<a href="" class="">
  <div class="author-image">
    <img src={{model.authorPhotoUrl}} alt="">
  </div>
  <div class="post-tile-content">
    <div class="comment-count">3</div>
    <h3>{{model.title}}</h3>
  </div>
</a>